.subtitle {
    font-size: 2.6rem;
    line-height: 81px;
    color: $primary-color;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 2.27rem;
        line-height: 63px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 2rem;
        line-height: 50px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 470px) {
    .subtitle {
        font-size: 1.7rem;
    }
}